html, body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hands-On 4: Angular form-state CSS classes */
.ng-invalid.ng-touched {
  border-color: red;
}

.ng-valid.ng-touched {
  border-color: green;
}
